<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputFieldName" class="col-sm-2 control-label">Name: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputFieldName" placeholder="name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputType" class="col-sm-2 control-label">Type: </label>
    <div class="col-sm-10">
      <select  type="text" class="form-control" id="inputType" class="form-control">
          <option value="string">string</option>
          <option value="string">numeric</option>
          <option value="string">decimal</option>
          <option value="string">array</option>
          <option value="string">object</option>
      </select>
    </div>
  </div>
</form>