<ul class="nav nav-tabs nav-stacked nav-justified">
  <li class="active"><a href="#config" data-toggle="tab">Config</a></li>
  <li><a href="#meta" data-toggle="tab">Meta</a></li>
  <li><a href="#object" data-toggle="tab">Objects</a></li>
  <li><a href="#relation" data-toggle="tab">Relations</a></li>
  <li><a href="#storage" data-toggle="tab">Storage</a></li>
  <li><a href="#apps" data-toggle="tab">Apps</a></li>
</ul>
<div class=" panel panel-default tab-content">
  <div class="panel-body tab-pane active" id="config"> config </div>
  <div class="panel-body tab-pane" id="meta"> object </div>
  <div class="panel-body tab-pane" id="object"> relation </div>
  <div class="panel-body tab-pane" id="relation"> relation </div>
  <div class="panel-body tab-pane" id="storage"> storages </div>
  <div class="panel-body tab-pane" id="apps"> relations </div>
</div>